
@font-face {
  font-family: 'Bliss Pro';
  src: url('Bliss-Pro.otf');
}

@font-face {
  font-family: 'Bliss Pro italic';
  src: url('Bliss-Pro-italic.otf');
}

@font-face {
  font-family: 'Bliss Pro bold';
  src: url('Bliss-Pro-bold.otf');
}


@font-face {
  font-family: 'Appetite';
  src: url('Appetite.ttf');
}
