.social {
  width: 160px;
  color: #b4b8bc;
  font-size: 1rem;
  font-weight: 400;

  &__icons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
